body{
	background-image: url('avo.jpg');
	font-family: 'Short Stack', cursive;
	background-attachment: fixed;
	background-size: 100%;
	padding-top: 30px;
}

.jumbotron{
	margin-left: 175px;
	margin-right: 175px;
	text-align: center;
	height:100%;
	background-color: white;
}

.avocadoshell{
	background: #141c09;
    padding: 10px;
    border-radius: 1200px 300px 800px 800px;
    width: 415px;
    height: 520px;
    border: 5px solid black;
    margin-left: 30%;
    margin-top: 10%;
}

.btn.btn-default{
	margin:20px;
	border: 3px solid #BF985F;
	width:400px;
}

.questionarea{
	padding-bottom: 20px;
	background-color: #B6D187;
	color:white;
	font-size: 17px;
}

.jumbotron h1{
	color: #FAC5B3;
	font-weight: bold;
}

#result1, #result2, #result3, #result4, #result5, #result6{
	color: #000;
}

.jumbotron p{
	font-family: 'Short Stack', cursive;
}

#score{
	font-size: 21px;
}